h2 {
    font-style: italic;
}

.user-add-form {
    display: flex;
    flex-direction: column;
    background-color: #ebecee;
}

.base-form {
    background-color: #ebecee;
    margin-top: 48px ; 
}
